nav a {
    margin: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: rgb(196 181 253);
}

@media(max-width:767px) {
    ul a {
        display: block;
    }
}